/* Universal */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}
a {
  color: black;
}
h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Universal Styles - Stories */

.narrative {
  margin-top: 16px;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.stories.text-content {
  height: 250px;
  border: 1px solid black;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  height: 300px;
  margin-top: 15px;
}

/* Header */

header {
  display: flex;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1;
}
header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
}
.logo span {
  color: mediumaquamarine;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

/* Content Container  */

.content {
  display: flex;
  justify-content: space-between;
  width: 1232px;
  border: 1px solid black;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
}


/* First Column */

.lead-story {
  flex-wrap: wrap;
}
.lead-story .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  text-align: left;
  font-size: 40px;
}
.column.large {
  display: flex;
  width: 630px;
  border: 1px solid black;
}
.fall-cancelled {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}
.pop-culture {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

/* Second Column */

.column.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
}
.cat-ceo {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

/* Last Column */

.column.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}


 /* Footer */

 .info {
   font-size: 14px;
 }
